# Tensorflow

In [7]:
import numpy as np
import pandas as pd

import tensorflow as tf
sess = tf.InteractiveSession()

In [2]:
from sklearn.preprocessing import scale
import matplotlib.pyplot as plt
%matplotlib inline

# なんかDeprecationWarning出るかもだけど無視で良いようだ

## データ準備

In [3]:
inputCSV = pd.read_csv('sample.csv')
inputCSV.head(10)

,in0,in1,in2,in3,in4,in5,in6,in7,out
0,0.790158,0.154701,0.554273,0.589591,0.652273,0.809005,0.727239,0.722377,0
1,0.966113,0.082956,0.427091,0.313592,0.036717,0.688759,0.747233,0.084873,1
2,0.744551,0.080415,0.534023,0.874443,0.058886,0.941214,0.234062,0.138623,2
3,0.386799,0.339775,0.758028,0.176749,0.545578,0.645455,0.264393,0.762566,0
4,0.000760,0.339114,0.865157,0.730987,0.061821,0.209777,0.090273,0.183841,1
5,0.497581,0.680770,0.914901,0.990791,0.040909,0.355208,0.881591,0.513112,2
6,0.531146,0.372347,0.246750,0.270516,0.120391,0.682658,0.272929,0.861646,0
7,0.475195,0.512204,0.533743,0.152647,0.070142,0.915401,0.297802,0.617966,1
8,0.841105,0.780319,0.212918,0.535849,0.639757,0.296344,0.653013,0.106019,2
9,0.221653,0.749487,0.411809,0.103275,0.610809,0.310699,0.501801,0.186794,0

In [4]:
# データの並びをシャッフル
calcData = inputCSV.reindex(np.random.permutation(inputCSV.index))
calcData.head(10)

,in0,in1,in2,in3,in4,in5,in6,in7,out
507,0.081299,0.211832,0.090765,0.365348,0.209460,0.175461,0.765545,0.416299,0
489,0.546639,0.604220,0.488729,0.302390,0.694225,0.324834,0.165327,0.623842,0
540,0.356658,0.571525,0.853384,0.708824,0.797164,0.469831,0.017880,0.370262,0
121,0.168601,0.284928,0.625196,0.986523,0.301493,0.755389,0.570782,0.955441,1
151,0.842099,0.923185,0.878577,0.362013,0.534762,0.558460,0.085047,0.850596,1
387,0.437974,0.215786,0.565404,0.700170,0.985114,0.994091,0.366929,0.062027,0
401,0.515661,0.902747,0.870215,0.858152,0.451101,0.719479,0.630129,0.799939,2
0,0.790158,0.154701,0.554273,0.589591,0.652273,0.809005,0.727239,0.722377,0
517,0.758566,0.981645,0.207670,0.806964,0.514452,0.933943,0.389607,0.351646,1
302,0.052980,0.337514,0.072952,0.025934,0.122332,0.025944,0.667367,0.229025,2

In [5]:
# 入力データと教師データに分割
pd_y = calcData['out']
pd_x = calcData.drop(['out'], axis=1)

# numpy配列にデータフレームから変換
x_array = pd_x.as_matrix()
y_array = pd_y.as_matrix()

In [6]:
# 正規化し,float32の型に変換
x_scale = scale(x_array).astype(np.float32)
y_scale = y_array.astype(np.int32)

# サンプルの一部をテストデータ用に分割
N = 550
x_train, x_test = np.split(x_scale, [N])
y_train, y_test = np.split(y_scale, [N])
N_test = y_test.size

print(u'学習データサンプル数：', N)
print(u'テストデータサンプル数：', N_test)

学習データサンプル数： 550
テストデータサンプル数： 99

## deep learning

In [11]:
x = tf.placeholder(tf.float32, shape=[None, 50])
y_ = tf.placeholder(tf.float32, shape=[None, 3])

In [12]:
W = tf.Variable(tf.zeros([50,3]))
b = tf.Variable(tf.zeros([3]))

In [13]:
sess.run(tf.initialize_all_variables())

In [14]:
y = tf.nn.softmax(tf.matmul(x,W) + b)

In [15]:
cross_entropy = tf.reduce_mean(-tf.reduce_sum(y_ * tf.log(y), reduction_indices=[1]))

In [16]:
train_step = tf.train.GradientDescentOptimizer(0.5).minimize(cross_entropy)

In [18]:
# train part